
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #70707B;
}
.container{
    width: 90%;
    margin: 0 auto;
}
    /* header start  */

.navbar_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.logo_container{
    width: 107px;
}
.logo_container img{
    width: 100%;
    margin-top: 6px;
}
.navbar_links{
    width: 390px;
}
.navbar_links ul li{
    float: left;
    list-style: none;
    margin: 0 12px;
    font-size: 14px;
}
.navbar_links ul li a{
    text-decoration: none;
    color: #70707B;
}
.navbar_links ul li a:hover{
    color: #18181B;
}
.nav_button{
    width: 121px;
}
.nav_button button{
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 18px;
    border-radius: 10px;
    background-color: #18181B;
    color: #FCFCFC;
    border-style: none;
}
    /* header end  */

    /* property_listing start */
.explore{
    display: flex;
    justify-content: space-between;
    margin: 80px 0 56px 0;
}
.explore_heading{
    width: 40%;
}
.explore_heading h1{
    font-size: 64px;
    color: #18181B;
    font-weight: 400;
    line-height: 120%;
}
.explore_text{
    width: 40%;
}
.explore_text p{
    line-height: 155%;
}
    /* property_listing end */


 /* contact start  */
 .contact{
    padding: 40px 0;
    /* border: 1px solid darkblue; */
}

.cotact_backgroud{
    /* border: 1px solid darkblue; */
    background-image: url(assets/image/contact-form.jpg);
    background-color: #cccccc;
    width: 100%;
    height: 648px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* padding: 0 30px; */
}
.contact_wrapper{
    display: flex;
    justify-content: space-between;
}
.contact_text{
    width: 50%;
    /* border: 1px solid firebrick; */
    margin-top: 204px;
}
.contact_text h2{
    font-size: 64px;
    line-height: 120%;
    color: #FCFCFC;
}

.contact_text p{
    font-size: 20px;
    line-height: 155%;
    color: #FCFCFC;
    margin-top: 24px;
}

.contact_form{
    width: 35%;
    /* border: 1px solid firebrick; */
    margin-top: 40px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #18181B;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
        /* contact end  */
        /* footer start  */

footer{
    background-color: #18181B;
}
.container2{
    width: 92%;
    margin: 0 auto;
}
.footer_top{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    border-bottom: 1px solid #70707B;
}
.footer_address{
    width: 50%;
}
.footer_address h3{
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
    color: #FCFCFC;
}
.footer_address table{
    margin-top: 32px;
}
.footer_address tr{
    height: 35px;
}
.footer_address th{
    text-align: left;
    font-size: 14px;
    color: #acacac;
    font-weight: 400;
    padding: 10px 0;
}
.footer_address th:first-child{
    width: 27%;
}
.footer_address th:nth-child(2){
    width: 27%;
}
.footer_address td{
    font-size: 16px;
    color: #eceaea;
    font-weight: 400;
}
.footer_nav{
    width: 25%;
}
.footer_nav table{
    float: right;
    width: 100%;
}
.footer_nav th{
    text-align: left;
    font-size: 16px;
    color: #acacac;
    font-weight: 400;
    padding: 10px 0;
}
.footer_nav tr{
    height: 35px;
}
.footer_nav th:first-child{
    width: 40%;
}
.footer_nav th:nth-child(2){
    width: 40%;
}
.footer_nav td{
    font-size: 16px;
    color: #eceaea;
    font-weight: 400;
}
    /* footer down start */

.footer_down{
    display: flex;
    justify-content: space-between;
    padding: 16px 0 40px 0;
    margin-top: 16px;
}
.footer_down h6{
    font-size: 14px;
    font-weight: 400;
    color: #acacac;
}
.footer_down p{
    font-size: 14px;
    font-weight: 400;
    color: #FCFCFC;
}
.footer_down i{
    margin-left: 8px;
}
    /* footer down end */
    /* footer end  */